[Unit]
Description=Codeman WebUI

[Service]
ExecStart=/usr/bin/node %h/.codeman/app/dist/index.js web
EnvironmentFile=%h/.config/codeman/env
Restart=always

[Install]
WantedBy=default.target
